body {
    margin: 0;
    background-color: #0d00ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
canvas {
    border: 3px solid #0d00ff;
    background-color: #000000;
}
    